:root{
--primary-color:#f9bf1e;
--second-color: green;
}

.root {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;

}

.Game__Title {
  width:100%;;
  display: flex;
  justify-content: center;
  padding: 50px;
  color: green;
  font-size: 2.5rem;
  position: absolute;
  font-family: 'ARCO' , sans-serif ;
}

.ListOfOptions {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  flex-wrap: wrap;
  color: green;
  padding-top: 190px;
 
}

.ListOfOptions__OptionCard {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  background: wheat;
  border: 1px solid green;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.9rem;

}

.card_juego_1{
  background-image: url("https://img.icons8.com/color/48/000000/clenched-fist.png");
  background-size: cover;
}

.card_juego_2{
  background-image: url("https://img.icons8.com/color/48/000000/hand.png");
  background-size: cover;
}

.card_juego_3{
 
  background-image: url("https://img.icons8.com/color/50/000000/hand-scissors--v1.png");
  background-size: cover;
}

.cardWin{
  height: 350px;
  width: 400px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 150px;
}

.button-full{
  display: flex;
  width: 100%;
  height: 21px;
  justify-content: flex-end;

  
}

.button{
  display: flex;
  height: 16px;
  width:40px ;
  border-radius: 5px;
  margin: 3px;
  padding-left: 10px;
}

.wintext{
    display: flex;
    flex-direction: column;
    height: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.wintext-full{
 height: 100%px;
 width: 100%;
  
}

.Win{
  padding-bottom: 20px;
  text-align: center;
}

.full-Card{
  display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.5);
    z-index: 9;
    font-size: 1.9rem;

}


.contadorUser{
  background-color: white;
  border-radius: 5px;
  display:block;
  height: 60px;
  width: 200px;
  display: flex;
}

.contadorMachine{
  background-color: white;
  border-radius: 5px;
  display:block;
  height: 60px;
  width: 200px;
  display: flex;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-top:-100px;
  position: absolute;
}

.winfinaly{
display: flex;
width: 100%;
height: 100%;
justify-content: center;
position:absolute;
margin-top: -90px;
font-size: 2.2rem;
}

.lifeUserSub{
  display: block;
  height: 100%;
  width: 50%;
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;
}

.lifeUser{
  padding: 10px;
  font-size: 1.8rem;
}

.lifeMachine{
 padding: 10px;
 font-size: 1.8rem;
}

.lifeMachineSub{
  display: block;
  height: 100%;
  width: 50%;
  border-left: 2px solid black;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;
}

.imgOfmachine{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 90px;

}

.estructuraOfMachine{
  display: flex;
  height: 500px;
  width: 50%;
}

.estructura-card2{
  display: flex;
}

.rootList{
  width: 50%;
}

.skillMachine{
    background-color:wheat;
    width: 200px;
    height: 200px;
    display: flex;
    border: 1px solid green;
    border-radius: 8px;
    cursor: pointer;
}

.skill{
    height: 200px;
    width: 200px;
    position: absolute;
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: green;

}

.nicknameInput{
  outline-style: none;
  border-radius: 5px;
  border-style: none;
  height: 25px;
  width: 180px;
  background-color:#f9bf1e ;
  border: 3px solid green;
}
.nickname{
  padding-left: 30px;
  font-size: 2.0rem;
}

.border:hover{
  background: linear-gradient(to right, green, yellow,black);
  position: relative;
  padding: 7px;
  border-radius: 10px;
}

.nicknameInput:hover{
  border: none;

}

::-webkit-input-placeholder { color: green; 
font-size: 17px;} 
@media (max-width: 1399.98px) { 
.container{
  margin-top: 70px;
}
.ListOfOptions__OptionCard{
margin-bottom: 80px;
margin-top: -60px;
}
.nickname{
  position: absolute;
  padding-top: 150px;
  font-size: 2.5rem;
 }
 .winfinaly{
  margin-top: 40px;
  height: 0px;
 }
 .rootList{
padding-left:40px;
 }
 .winfinaly{

}
@media (max-width: 1199.98px) {
.container{
  margin-top: 100px;
}
.nickname{
  position: absolute;
  padding-top: 180px;
  font-size: 2.8rem;
 }
 .winfinaly{
  margin-top: 40px;
 }
}

@media (max-width: 991px){
.container{
  margin-top: 100px;
}
.nickname{
  position: absolute;
  padding-top: 180px;
}
.ListOfOptions__OptionCard{
height: 150px;
width: 150px;
}

.skill, .skillMachine{
height: 150px;
width: 150px;
}
.rootList{
  padding-left: 30px;
}

}

@media (min-width: 960px){
  .ListOfOptions{
    padding-left: 50px;
  }
}

@media (max-width: 600px){
.container{
  margin-top: 100px;
  background-color: green;
} 
.contadorUser{
  height: 70px;
  width: 120px;
}

.contadorMachine{
 height: 70px;
  width: 120px;
}

.Game__Title{
  font-size: 1.9rem;
}

.ListOfOptions__OptionCard{
height: 100px;
width: 100px;
}

.ListOfOptions {
  padding: 0px;
}

.skill, .skillMachine{
height: 100px;
width: 100px;
}

.estructura-card2{
  display: flex;
  flex-direction: column;
}
.estructuraOfMachine{
  width: 100%;
  height: 50%;
  flex-direction: column;
}
.rootList{
  height: 50%;
  width: 100%;
}
.rootSub{
  margin-top: -330px
}
.winfinaly{
  font-size:1.9rem ;
  margin-top: 70px;
}
.imgOfmachine{
  padding-top: 0px;
}
.nickname{
  padding-top: 40px;
}

}




