*{
	box-sizing:border-box;
	padding: 0px;
	margin: 0px;
}
html{
	font-size: 62.5%;
}

.estructura{
	font-family:helvetica;
	background: #f9bf1e;
}
.inicio{
	background-color: #62a4ab;
	height:50px;
	width:100%;
	display: flex;
	position: relative;
	z-index: 1;

}

.lista{
display: flex;
justify-content:space-around;
height: 100%;
width: 100%;

}
.lista--sub{
display: flex;
align-items: center;
font-size: 20px;

}
.lista--link{
	text-decoration: none;
	color:white ;

}
.lista--link:hover{
background-color: white;
height: 30px;
width: 60px;
padding: 3px;
border-radius:12px ;
color:#62a4ab;
}

.icono{
  position: absolute;
  z-index: 2;
}
 
.icono--img{
	height: 100px;
	width: 100px;
	margin:10px 0px -10px 20px ;
}
.buttonBurguer{
	background-image: url("../../../hamburguesa.png");
	background-size: cover;
	height: 60px;
	width: 60px;
	cursor: pointer;
	display: flex;
	position: absolute;
	margin-top: 12px;
	z-index: 3;
}

.burguerFull{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.burguerButton{
	height: 100%;
	width: 100%;
}

.listBurguer{
	font-size: 1.6rem;
	background-color:black;
	height: 100%;
	width: 38%;
	position:fixed;
	animation-name: menuDesplegable;
	animation-duration: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	display: flex;
	z-index: 1;
}
@keyframes  menuDesplegable {
  from {margin-right: -130px;}
  to {margin-right:0px;}
}

.burguer{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}


.listContainer{
	display:flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
  justify-content: center;
  list-style: none;
  justify-content: space-evenly;
  position: absolute;

}

.list{
padding-left: 30px;
}

.burguer--link:focus{
   background-color: white;
   height: 25px;
   width: 100%;
   border-radius:12px ;
   color: black;
}

.burguer--link{
	text-decoration: none;
	color: white;
}

@media (max-width: 991px){
.inicio{
		height: 80px;
	}
	.lista{
		width: 40%;
		margin-left: 35%;
	}
	.icono{
		display:flex;
		justify-content: center;
    width: 100%;
  }
  .listBurguer{
  width: 15%;
}

}

@media only screen and (max-width: 600px){
	.inicio{
		height: 80px;
	}
	.lista{
		width: 40%;
		margin-left: 35%;
	}
	.icono{
		display:flex;
		justify-content: center;
    width: 100%;
  }
  .listBurguer{
  width: 35%;
}

}






